// Prefix uses the American spelling to avoid confusion ( color:@colour-* ?! )
@color-text:       #333;
@color-reverse:    #FFF;
@color-background: #FFF;

// Accent colours
@color-brand:      #85A894;
@color-accent:     #FCE4A8;
@color-subtle:     #EEE;
@color-highlight:  #00314F;
@color-lowlight:   #3E6B7E;
@color-keyline:    #E9E9E9;
@color-attention:  #B53F45;