//
// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    24/07/2012
// Description: Images with caption overlays.
// Zen-coding:  .captioned>img+span.caption
//

.captioned {
	position:relative;
	display:block;
	text-decoration:none;
}
html .captioned { // overspecify a little if used for a link
	color:@color-alpha;
}
	.captioned img {
		display:block;
	}
	.captioned .caption {
		position:absolute;
		top:0;
		right:0;
		left:0;
		padding:.5em 15px;
		background:rgba(0, 0, 0, .75);
	}
