/**
 * Author:   Matt Hinchliffe <www.maketea.co.uk>
 * Modified: 22/05/2012
 * Description: The media object <http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/>
 */

/* base */
.media,
.media .body {
	display:block;
	overflow:hidden;
}
	.media .img {
		float:left;
		margin-right:30px;
	}
	.media .img-ext {
		float:right;
		margin-left:30px;
	}
		.media .img img,
		.media .img-ext img {
			display:block;
		}
		.media .img .details {
			padding:10px;
		}
