/**
 * Author:      Matt Hinchliffe <www.maketea.co.uk>
 * Modified:    22/05/2012
 * Description: The nameplate module for section headings <http://en.wikipedia.org/wiki/Nameplate_(publishing)>
 * Example:     div[class=nameplate] ( > div[class=mast]) > h1[class=title]
 */

.nameplate {
	overflow:hidden;
}
	.nameplate .mast {
		float:right;
	}
	.nameplate .title {
		margin:0;
		line-height:inherit;
	}
		.nameplate .mast + .title {
			float:left;
		}
