//
// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    01/10/2012
// Description: Pagination lists
// Zen-coding:  ol.nav.pagination>(li>a[rel=prev])+(li>a)*3+(li>a[rel=next])
//

.pagination {
	margin:1em 0;
	text-align:center;

	a {
		width:1.5em;
		border:1px solid @color-lowlight;
		line-height:1.5;
		text-align:center;
		text-decoration:none;
		color:@color-text;
		background:@color-keyline;
	}
	a:hover,
	.selected a {
		color:@color-highlight;
		background:@color-background;
	}
	a[rel] {
		width:auto;
		padding:0 .35em;
	}
	[rel=next]:after {
		content:' >';
	}
	[rel=prev]:before {
		content:'< ';
	}
}