//
// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    24/07/2012
// Description: Styling for default form elements
//

//
// Legends - do not style the legend element directly but its children
//
legend > span {
	display:block;
}

//
// Labels
//
label {
	white-space:nowrap;
}
	label dfn[title] {
		border:none;
	}

//
// User inputs
//
input,
select,
textarea,
button {
	padding:@input-padding;
	border:@input-borderwidth solid @color-gamma;
	font-weight:normal;
	font-family:sans-serif;
	color:@color-gamma;
	background:@color-alpha;
	.border-radius(2px);
}

input:focus,
select:focus,
textarea:focus {
	color:@color-epsilon;
	.box-shadow(0, 0, 5px, @color-beta);
}

input[disabled],
select[disabled],
textarea[disabled] {
	background-color:@color-beta;
}

input

input[size] {
	width:auto !important; // Size attribute should always override width
}
select {
	padding:@input-padding - 1px; // Extra height may be created by the button inside select boxes on Windows
}

textarea {
	width:90%;
	height:8em;
}

input[disabled],
select[disabled],
button[disabled] {
	cursor:not-allowed;
}

//
// Go native else build a new input with a little JS <http://bit.ly/qM8FYC>
//
input[type=file],
input[type=radio],
input[type=checkbox] {
	width:auto;
	height:auto;
	padding:0;
	border:none;
	background:none;
}


//
// Buttons
//
button, a.button,
input[type=button],
input[type=submit] {
	border-color:darken(@color-brand, 10%);
	text-decoration:none;
	color:@color-alpha;
	.linear-gradient(270deg, fadeout(@color-brand, 10%), darken(@color-brand, 10%));
}

button:active, a.button:active,
input[type=button]:active,
input[type=submit]:active {
	.inset-shadow(0, 0, 10px, rgba(0, 0, 0, .5));
}

button[disabled],
input[type=button][disabled],
input[type=submit][disabled] {
	border-color:@color-gamma;
	color:@color-gamma;
	background:@color-beta;
}

//
// Button variations
//
button.alt, a.button.alt,
input[type=button].alt,
input[type=submit].alt {
	border-color:darken(@color-highlight, 10%);
	.linear-gradient(270deg, lighten(@color-highlight, 10%), @color-highlight);
}
