// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    07/02/2012
// Description: Styles for laying out consistent forms

// form ( > fieldset ) > div.row/li.row > input/select/textarea
.row {
	margin-bottom:1em;
}
.row.buttons {
	text-align:right;
}

// Checkboxes and radio buttons
.radio input,
.checkbox input {
	vertical-align:baseline;
}
.radio label,
.checkbox label {
	display:inline;
	padding:0 0.25em;
}
	// inline lists
	.radio .inline-list li ,
	.checkbox .inline-list li {
		margin-right:1.5em;
	}

// Inline labels (extends .row)
.inline.row label,
.inline.row input,
.inline.row select,
.inline.row textarea {
	display:inline-block;
}
	.inline.row label {
		padding-top:@formInputPadding + @formInputBorderWidth;
		padding-right:15px;
		line-height:normal; // Match input/select 'normal' line height
	}

// Justified layout
.justified.row {
	margin-right:25%;
}
	.justified.row label {
		width:25%;
		margin-right:2.5%;
	}
	.justified.row input[type=text],
	.justified.row textarea {
		width:50%;
	}