/**
 * Author:      Matt Hinchliffe <www.maketea.co.uk>
 * Modified:    24/04/2012
 * Description: Styles for laying out consistent forms
 */

/* form > ( fieldset > legend + ) ul[class=form-fields] > li > label + input/select/textarea */
.form-fields > li {
	margin-bottom:@type-blankline;
}

	/* Checkboxes and radio buttons */
	.radio-field input,
	.checkbox-field input {
		vertical-align:baseline;
	}
	.radio-field label,
	.checkbox-field label {
		display:inline;
		padding:0 .25em;
	}

	/* Inline labels */
	.inline-field label,
	.inline-field input,
	.inline-field select,
	.inline-field textarea {
		display:inline-block;
	}
		.inline-field label {
			padding-top:@input-padding + @input-borderwidth;
			padding-right:15px;
			line-height:normal; /* Match input/select 'normal' line height */
		}

	/* Multiple field */
	.multi-field {
		margin:0;
		padding:0;
		list-style:none;
		overflow:hidden;
	}
		.multi-field li {
			float:left;
			padding-left:1em;
		}
			.multi-field li:first-child {
				padding-left:0;
			}