//
// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    27/07/2012
// Description: Layouts for consistent forms
//

//
// Option lists
// ul.option-list>(li>label>input[type=radio][name])*3
//
.option-list {
	margin:0;
	padding-left:0;
	list-style:none;
}
	.option-list li {
		padding:@input-padding 0;
	}

//
// Collection of fields
// Zen-coding: form>fieldset>ul.form-collection>(li>label.field-label+input[name][id])*3
//
.form-collection {
	margin:0 0 @type-blankline;
	padding:0 10px;
	list-style:none;
	border:1px solid @color-keyline;
	.border-radius(5px);
}
	.form-collection > li {
		position:relative;
		padding:1em 0 1em 25%;
		line-height:normal;
		border-top:1px solid @color-keyline;
	}
	.form-collection > li:first-child {
		border:none;
	}
		.form-collection .field-label {
			position:absolute;
			left:0;
			width:20%;
			margin:1px 0; // match input border width
			padding:@input-padding 0; // match input padding
			text-align:right;
		}
	.form-collection .field-tip {
		float:right;
	}
