//
// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    04/06/2013
// Description: Internet Explorer 7 and below adjustments.
//

//
// No 'inline-block' in <= IE7 but applying 'hasLayout' to an inline element contrives it
//
.inline-block() {
	display:inline;
	zoom:1;
}


//
// Sensible defaults
//
blockquote {
	display:block;
}


//
// Form elements
// <http://www.456bereastreet.com/archive/200409/styling_form_controls/>
//
input,
select,
textarea,
button {
	vertical-align:middle;
}

// Buttons render terribly due to a forced border-box layout
button,
input[type=button],
input[type=submit],
input[type=reset] {
	.inline-block;
	overflow:visible;
	line-height:1;
}

// Select boxes. Padding cannot be applied to a select box so add it to the height
select {
	height:28px;
}

// Buttons aquire black border on form focus. Chroma filter will make it transparent (useless if a button uses black text or background)
// <http://markmintoff.com/2012/01/remove-internet-explorer-black-border-around-button/>
// button {
// 	filter:~"chroma(color=#000000)";
// }

//
// Issues with floating elements
// <http://css-class.com/articles/explorer/floats/floatandcleartest1.htm>
//

// Nested floats or positioned elements requiring width

// Cannot use float and clear on an element


//
// Overflow may require position relative
// <http://snook.ca/archives/html_and_css/position_relative_overflow_ie>
//



//
// No pseudo-elements
//
.tag-list > li {
	margin-left:1em;

	&:first-child {
		margin-left:0;
	}
}

.separated-list > li {
	padding:0 .5em;
	border-left:1px solid;

	&:first-child {
		padding-left:0;
		border-left:0;
	}
}


//
// Inline elements with no content not collapsing and affecting layout
//


//
// No CSS3 background and border properties or 2.1 opacity
//
// .foo {
// 	zoom:1;
// 	filter:~"progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=3))";
// }
// .bar {
// 	filter:~"alpha(Opacity=50)";
// }

//
// Small layout quirks and 'magic margins'
// <http://archivist.incutio.com/viewlist/css-discuss/97064>
//

// Phantom gaps (possibly due to line-height of list items affecting layout)
// <http://www.456bereastreet.com/archive/200610/closing_the_gap_between_list_items_in_ie/>
// .foo li {
// 	display:inline;
// }


//
// No support for 'inherit' value on any property
//