@import "variables.less";
@import "lib/utilities.less";

// No 'inline-block' in < IE8 but applying 'layout' to an inline element contrives it
.ie-inline-block() {
	display:inline;
	zoom:1;
}

/* Blockquotes */
blockquote {
	display:block;
}

input, select, textarea, button {
	vertical-align:middle;
}

/* Select boxes. Padding cannot be applied to a select box so add it to the height */
select {
	height:(@type-size * 1.2) + (@input-padding * 2) + 0px; /* font size * 'normal' line-height + padding */
}

/* Buttons render terribly due to a forced border-box style layout */
button,
input[type=button],
input[type=submit],
input[type=reset],
a.button {
	.ie-inline-block();
	height:auto !important;
	overflow:visible;
	line-height:1;
}

/* Form checkboxes and radio buttons alignment, align checkboxes, radios, text inputs with their label */
.radio input {
	vertical-align:text-top;
}
.checkbox input {
	vertical-align:bottom;
}

/* No pseudo elements so just add extra spacing */
.separated-list li,
.tag-list li {
	margin-left:1em;
}
	.tag-list li:first-child,
	.separated-list li:first-child {
		margin-left:0;
	}