/**
 * Author:   Matt Hinchliffe <www.maketea.co.uk>
 * Modified: 20/03/2012
 */

// Typography
@type-size:      16;
@type-leading:   1.5;
@type-baseline:  @type-size * @type-leading;
@type-blankline: 1em;

// Font faces
@font-sans:       Arial, sans-serif;
@font-serif:      Cambria, Georgia, serif;
@font-mono:       Consolas, "Lucida Console", Monaco, monospace;
@font-smallprint: Verdana, Geneva, Tahoma, sans-serif;

// Colours
@colour-default:   #333;
@colour-alt:       #666;
@colour-reverse:   #fff;
@colour-highlight: #eee;
@colour-attention: #C81730;
@colour-links:     #4bb461;
@colour-keyline:   #ccc;

// Form elements
@input-padding:     4px;
@input-borderwidth: 1px;
@input-disabled:    #ccc;

// Grid
@grid-standard-width:    960px;
@grid-standard-columns:  12;
@grid-standard-colwidth: 60px;
@grid-standard-gutter:   20px;
@grid-small-width:       768px;
@grid-small-colwidth:    44px;
@grid-mobile-width:      300px;
@grid-mobile-colwidth:   300px;
