// Author:   Matt Hinchliffe <www.maketea.co.uk>
// Modified: 07/02/2012

// Typography
@typeSize:     16;
@typeLeading:  1.5;
@typeBaseline: @typeSize * @typeLeading;

// Font faces
@fontSansSerif:  Arial, sans-serif;
@fontSerif:      Cambria, Georgia, serif;
@fontMonospace:  Consolas, "Lucida Console", Monaco, monospace;
@fontSmallPrint: Verdana, Geneva, Tahoma, sans-serif;

// Colours
@colourBody:      #333;
@colourAlternate: #666;
@colourReverse:   #fff;
@colourHighlight: #eee;
@colourWarning:   #C81730;
@colourLink:      #4bb461;
@colourKeyline:   #ccc;

// Form elements
@formInputPadding:     4px;
@formInputBorderWidth: 1px;
@formInputDisabled:    #ccc;

// Grid
@gridColumns:     12;
@gridSiteWidth:   960px;
@gridColumnWidth: 60px;
@gridGutterWidth: 20px;
