/**
 * Author:   Matt Hinchliffe <www.maketea.co.uk>
 * Modified: 21/06/2012
 */

// Typography
@type-size:      16;
@type-leading:   1.5;
@type-baseline:  @type-size * @type-leading;
@type-blankline: 1em;

// Font faces
@font-sans:       Arial, sans-serif;
@font-serif:      Cambria, Georgia, serif;
@font-brand:      Helvetica, Arial, sans-serif;
@font-mono:       Consolas, "Lucida Console", Monaco, monospace;
@font-smallprint: Verdana, Geneva, Tahoma, sans-serif;

// Shades
@color-alpha:   #FFF;
@color-beta:    #DDD;
@color-gamma:   #999;
@color-delta:   #666;
@color-epsilon: #333;
@color-zeta:    #252525;
// etc...
@color-omega:   #000;

// Named accent colours
@color-brand:     #40BFBF;
@color-highlight: #EEE;
@color-attention: #C81730;
@color-keyline:   #CCC;

// Form elements
@input-padding:     4px;
@input-borderwidth: 1px;
@input-disabled:    #CCC;

// Grid
@grid-standard-width:    960px;
@grid-standard-columns:  12;
@grid-standard-colwidth: 60px;
@grid-standard-gutter:   20px;
