//
// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    06/02/2013
// Description: Useful classes for repetitive jobs
//

//
// Text replacement
//
.replace {
	.replacetext;
}


//
// Hide but keep accessible to screen readers
//
.hidden {
	position:absolute;
	left:-9999px;
}


//
// Hidden when JS available
//
.js-hide {
	display:none;

	.no-js & {
		display:block; // Default value for all elements is 'inline', it is up to UA stylesheet to define other values
		display:initial; // CSS3 <http://www.w3.org/TR/css3-cascade/>
	}
}


//
// Inline soft reset
//
.base {
	margin:0;
	padding:0;

	ul&,
	ol& {
		list-style:none;
	}
	img& {
		display:block;
	}
}


//
// Clearfix - don't abuse this!
//
.cf {
	.clearfix;
}
