/**
 * Author:      Matt Hinchliffe <www.maketea.co.uk>
 * Modified:    22/03/2012
 * Description: Styling for default elements
 */

html {
	font-size:62.5%; /* 10px, set in % for consistency in IE6/7 <http://clagnut.com/blog/348/#c790> and useful if you decide to use rem units */
}
body {
	.em( @type-size, 10 );
	line-height:@type-leading;
	font-family:@font-sans;
}

dl {
	margin:0;
}
p, ul, ol, dd {
	margin:0 0 @type-blankline;
}

/* Quotes */
blockquote, q, cite {
	font-style:italic;
	font-family:@font-serif;
}
	blockquote {
		margin:0 40px;
	}
		blockquote .quotation { /* Defined using a class as citations must also be within a paragraph */
			text-indent:-0.5em;
		}
		blockquote .quotation:before, q:before {
			content:'\201C';
		}
		blockquote .quotation:after, q:after {
			content:'\201D';
		}
	cite {
		font-weight:bold;
	}

/* Font size */
small, big {
	line-height:1;
}

/* Monospace */
pre, code, kbd, var {
	font-family:@font-mono;
}
	pre {
		overflow:auto;
	}
	code, kbd, var {
		line-height:1;
	}

/* Help */
abbr[title], acronym[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

/* Links */
a {
	text-decoration:underline;
	color:@colour-links;
}
	a:visited {
		color:desaturate(@colour-links, 15%);
	}
	a:hover, .selected a {
		color:darken(@colour-links, 15%);
	}
	a:active, a:focus {
		outline:1px dotted @colour-keyline;
		outline-offset:1px;
	}

/* Horizontal rules */
hr {
	height:1px;
	padding:0;
	margin:0 0 @type-blankline;
	border:0;
	background:@colour-keyline;
}

/* Tables */
table {
	margin-bottom:@type-blankline;
	border:none;
}
	caption, th, td {
		text-align:left;
		vertical-align:top;
		padding:5px 10px;
	}
