//
// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    11/07/2012
// Description: Styling for default elements
//

//
// Quotations and citations
// Zen-Coding: blockquote>p+footer>cite>a
//
blockquote, q, cite {
	font-style:italic;
	font-family:@type-serif;
}
blockquote {
	width:70%;
	margin-left:5%;
	padding:.5em 1.5em;
	border-left:1px solid @color-keyline;
}
	blockquote p {
		margin-bottom:.5em;
	}
	blockquote p:first-of-type {
		text-indent:-.5em;
	}
	blockquote p:first-of-type:before {
		content:open-quote;
	}
	blockquote p:last-of-type:after {
		content:close-quote;
	}
	blockquote footer:before {
		content:"—"; // U+2014 or &mdash;
	}
	blockquote cite {
		font-weight:bold;
	}


//
// Monospace
//
pre, code, kbd, var {
	font-family:@type-mono;
}
pre {
	overflow:auto;
}
code, kbd, var {
	line-height:1;
}


//
// Tooltips
//
abbr[title], acronym[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}


//
// Links
//
a {
	text-decoration:underline;
	color:@color-brand;
}
a:visited {
	color:desaturate(@color-brand, 20%);
}
a:hover {
	color:darken(@color-brand, 20%);
}
a:active, a:focus {
	outline-offset:1px;
}


//
// Horizontal rules
//
hr {
	height:1px;
	padding:0;
	margin:0 0 @type-blankline;
	border:0;
	background:@color-keyline;
}


//
// Tables
//
table {
	margin-bottom:@type-blankline;
	border:none;
}
	caption, th, td {
		text-align:left;
		vertical-align:top;
		padding:5px 10px;
	}
