//
// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    28/06/2012
// Description: Styling for default elements
//

//
// Document
//
html {
	font-size:62.5%; // 10px, set in % for consistency in IE6/7 <http://clagnut.com/blog/348/#c790> and useful if you decide to use rem units
}
	body {
		#calc > .font-size(@type-size, 10);
		line-height:@type-baseline;
		font-family:@type-sans;
	}


//
// Primary elements
//
p, ul, ol, dl {
	margin:0 0 @type-blankline;
}
dt, dd {
	margin:0;
}


//
// Quotations
// Zen-Coding: blockquote>(p>q)+(p>cite)
//
blockquote, q, cite {
	font-style:italic;
	font-family:@type-serif;
}
blockquote {
	margin:0 40px;
}
	blockquote q {
		text-indent:-.5em;
	}
	blockquote q:before {
		content:'\201C';
	}
	blockquote q:after {
		content:'\201D';
	}
	blockquote cite {
		font-weight:bold;
	}


//
// Monospace
//
pre, code, kbd, var {
	font-family:@type-mono;
}
pre {
	overflow:auto;
}
code, kbd, var {
	line-height:1;
}


//
// Tooltips
//
abbr[title], acronym[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}


//
// Links
//
a {
	text-decoration:underline;
	color:@color-brand;
}
a:visited {
	color:desaturate(@color-brand, 20%);
}
a:hover {
	color:darken(@color-brand, 20%);
}
a:active, a:focus {
	outline:1px dotted @color-keyline;
	outline-offset:1px;
}


//
// Horizontal rules
//
hr {
	height:1px;
	padding:0;
	margin:0 0 @type-blankline;
	border:0;
	background:@color-keyline;
}


//
// Tables
//
table {
	margin-bottom:@type-blankline;
	border:none;
}
	caption, th, td {
		text-align:left;
		vertical-align:top;
		padding:5px 10px;
	}
