//
// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    28/06/2012
// Description: Useful classes for formatting lists
//

//
// Inline list
// Zen-coding: ul.inline-list>li*3
//
.inline-list {
	padding-left:0;
	list-style:none;
}
	.inline-list li {
		display:inline;
	}


//
// Block links
// Zen-coding: ul.block-links>(li>a)*3
//
.block-links {
	padding-left:0;
	list-style:none;
	.clearfix;
}
	.block-links li {
		float:left;
		margin-left:5px;
	}
	.block-links li:first-child {
		margin-left:0;
	}
		.block-links a {
			padding:.5em 10px;
			text-decoration:none;
			color:@color-alpha;
			background:@color-lowlight;
		}
		.block-links a:hover {
			background:@color-highlight;
		}


//
// Comma separated list
// Zen-coding: ul.tag-list>li*3
//
.tag-list {
	padding-left:0;
	text-transform:capitalize;
}
	.tag-list li {
		display:inline;
	}
	.tag-list li:after {
		content:',\0000a0'; // Non-breaking space
	}
	.tag-list li:last-child:after {
		content:normal;
	}


//
// Pipe separated list
// Zen-coding: ul.separated-list>li*3
//
.separated-list {
	padding-left:0;
	white-space:nowrap;
}
	.separated-list li {
		display:inline;
	}
	.separated-list li:before {
		content:'\0000a0\0000a0|\0000a0\0000a0'; // Non-breaking space
	}
	.separated-list li:first-child:before {
		content:normal;
	}


//
// Inline definition list
// Zen-coding: dl.inline-definitions>(dt+dd)*3
//
.inline-definitions {
	overflow:hidden;
	margin-bottom:@type-blankline;
}
	.inline-definitions dt,
	.inline-definitions dd {
		margin:0;
	}
	.inline-definitions dt {
		float:left;
		clear:left;
		padding-right:5px;
	}
	.inline-definitions dt:after {
		content:':'
	}


//
// Numbered definition lists
// Zen-coding: dl.numbered-definitions>(dt+dd)*3
//
.numbered-definitions {
	counter-reset:numbered;
}
	.numbered-definitions dt:before {
		counter-increment:numbered;
		content:counter(numbered) '. ';
	}
