/**
 * Author:      Matt Hinchliffe <www.maketea.co.uk>
 * Modified:    13/12/2011
 * Description: Classes for styling media such as images, videos and embedded objects.
 */

img.left {
	display:block;
	margin:0 15px 1.5em 0;
}

img.right {
	display:block;
	margin:0 0 1.5em 15px;
}
