/**
 * Author:      Matt Hinchliffe <www.maketea.co.uk>
 * Modified:    13/12/2011
 * Description: Classes for text content.
 *
 * A note on semantic class names:
 * A good class name is non-specific, it should not specify its exact form or properties but hint at the purpose of the content it 
 * contains. When this is not possible - such as text colours or layout grid - it's impossible to agree on a universal naming convention. 
 * So while naming a class '.footer' or '.large-text' is obvious (and unspecific enough to usable in different contexts or changed later) 
 * it just doesn't extend to the page-level idiosyncrasies. Literal class names such as '.red-text' or '.clear-next-line' are easy to work 
 * with initially but we all know what will happen later...
 *
 * A naming convention using acronyms (.rhs = right and side) or abbreviations (.g1, .g5, .ic etc.) is hard to maintain and usually too 
 * specific so don't do it.
 *
 * A better idea is to follow a well known pattern such as the Greek alphabet. This has the advantage that it is familiar and indicates a 
 * hierarchy while keeping the bonus of being abstract. The caveat with this technique is to avoid confusion by interpreting your chosen 
 * pattern as alternative homonyms I.E. alpha and beta are also English nouns.
 *
 * Font stacks:
 *     - Sans: Arial, sans-serif
 *     - Serif: Cambria, Georgia, serif
 *     - Mono: Consolas, "Lucida Console", Monaco, monospace
 *     - Small text: Verdana, Geneva, Tahoma, sans-serif
 *
 * Font sizes:
 *     - Root font size   = 10
 *     - Body font size   = 16
 *     - Content baseline = 24
 *
 * Skin colours:
 *     - alpha   = #fff
 *     - beta    = #ededed
 *     - gamma   = #4bb461
 *     - delta   = #428b4c
 *     - epsilon = #444
 *     - omega   = #000
 */

/* Text alignment */
.align-left {
	text-align:left;
}
.align-centre,
.align-center { /* Multi-lingual ;) */
	text-align:center;
}
.align-right {
	text-align:right;
}

/* Font size variations */
.small-text {
	line-height:1.5;
	font-size:12px;
}

.medium-text {
	line-height:24px;
	font-size:18px;
}

.large-text {
	line-height:30px;
	font-size:22px;
}

/* Font face variations */
.alt-text {
	font-family:Cambria, Georgia, serif;
}

/* Explicit text colours */
.alpha {
	color:#fff;
}
.beta {
	color:#ededed;
}
.gamma {
	color:#4bb461;
}
.delta {
	color:#428b4c;
}
.epsilon {
	color:#444;
}
.omega {
	color:#000;
}

/* Alternatively coloured links */
a.alt, .alt-links a {
	color:#454545;
}
	a.alt:visited, .alt-links a:visited {
		color:#666;
	}
	a.alt:hover, .alt-links a:hover {
		color:#000;
	}

/* User-feedback */
.hint {
	font-style:italic;
	color:#999;
}

.error {
	font-weight:bold;
	color:#C81730;
}
