
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;-ms-interpolation-mode:bicubic;}
figure{margin:0;}
form{margin:0;}
fieldset{border:none;margin:0;padding:0;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
blockquote,q,cite{font-style:italic;}
blockquote{width:70%;margin-left:5%;padding:.5em 1.5em;}blockquote p{margin-bottom:.5em;}blockquote p:first-of-type{text-indent:-0.5em;}blockquote p:first-of-type:before{content:open-quote;}
blockquote p:first-of-type:after{content:close-quote;}
blockquote footer:before{content:"—";}
blockquote cite{font-weight:bold;}
pre,code,kbd,var{font-family:Consolas,"Lucida Console",Monaco,monospace;}
pre{overflow:auto;}
code,kbd,var{line-height:1;}
abbr[title],acronym[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
a{text-decoration:underline;color:#008584;}a:visited{color:#0d7877;}
a:hover{color:#001f1f;}
a:active,a:focus{outline-offset:1px;}
hr{height:1px;padding:0;margin:0 0 1em;border:0;background:#e9e9e9;}
table{margin:0 auto 1em;border-collapse:collapse;border:1px solid #e9e9e9;}
th{font-weight:normal;text-align:left;background:#f6f6f6;}
th,td{padding:.25em .5em;border-right:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;}
html{font-size:62.5%;}
body{font-size:1.6em;line-height:1.5;font-family:Arial,sans-serif;}
p,ul,ol,dd{margin:0 0 1em;}
ul,ol,dl{padding:0 0 0 1.75em;}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{font-weight:bold;font-family:Helvetica,Arial,sans-serif;}
h1,.h1{margin:0 0 .25em;font-size:3em;line-height:1.33333;letter-spacing:-1px;}
h2,.h2{margin:0 0 .5em;font-size:2em;line-height:1.33333;letter-spacing:-1px;}
h3,.h3{margin:0 0 .666em;font-size:1.5em;line-height:1.33333;letter-spacing:0;}
h4,.h4{margin:0 0 .8em;font-size:1.25em;line-height:1.2;letter-spacing:0;}
h5,.h5{margin:0 0 .888em;font-size:1.125em;line-height:1.33333;letter-spacing:0;}
h6,.h6{margin:0 0 .5em;font-size:1em;line-height:1.5;letter-spacing:0;}
.text-left{text-align:left;}
.text-centre,.text-center{text-align:center;}
.text-right{text-align:right;}
.nano{font-size:0.6875em;font-family:Verdana,Geneva,Tahoma,sans-serif;}
.milli{font-size:0.8125em;}
.kilo{font-size:1.125em;}
.mega{font-size:1.5em;line-height:1;}
.giga{font-size:2em;line-height:1;}
.tera{font-size:2.5em;line-height:2;}
.tag-list{padding-left:0;text-transform:capitalize;}.tag-list>li{display:inline;}.tag-list>li:after{content:',\0000a0';}
.tag-list>li:last-child:after{content:normal;}
.separated-list{padding-left:0;white-space:nowrap;}.separated-list>li{display:inline;}.separated-list>li:before{content:'\0000a0\0000a0|\0000a0\0000a0';}
.separated-list>li:first-child:before{content:normal;}
.inline-definitions{overflow:hidden;margin-bottom:1em;}.inline-definitions dt,.inline-definitions dd{margin:0;}
.inline-definitions dt{float:left;clear:left;padding-right:5px;}.inline-definitions dt:after{content:':';}
.numbered-definitions{counter-reset:numbered;}.numbered-definitions dt:before{counter-increment:numbered;content:counter(numbered) '. ';}
legend>span{display:block;}
label{white-space:nowrap;}label dfn[title]{border:none;}
input,select,textarea,button{padding:0.25em;border:1px solid;font-weight:normal;font-family:sans-serif;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}input[disabled],select[disabled],textarea[disabled],button[disabled]{border-color:#aaaaaa !important;color:#aaaaaa !important;background:#dddddd !important;cursor:not-allowed !important;}
input,select,textarea{color:#999999;background:#ffffff;}input:focus,select:focus,textarea:focus{color:#333333;-webkit-box-shadow:0 0 5px rgba(51, 51, 51, 0.25);-moz-box-shadow:0 0 5px rgba(51, 51, 51, 0.25);box-shadow:0 0 5px rgba(51, 51, 51, 0.25);}
input[size]{width:auto !important;}
input[type=file],input[type=radio],input[type=checkbox]{padding:0;border:none;background:none;}
select{height:29px;padding:2px;}select[size],select[multiple]{height:auto;}
textarea{width:90%;height:8em;}textarea[rows]{height:auto;}
button,a.button,input[type=button],input[type=submit]{height:auto;border-color:#003333;text-decoration:none;color:#ffffff;background:rgba(0, 74, 74, 0.95);background-image:-webkit-linear-gradient(270deg, rgba(0, 102, 102, 0.9), #003333);background-image:-moz-linear-gradient(270deg, rgba(0, 102, 102, 0.9), #003333);background-image:-ms-linear-gradient(270deg, rgba(0, 102, 102, 0.9), #003333);background-image:-o-linear-gradient(270deg, rgba(0, 102, 102, 0.9), #003333);background-image:linear-gradient(270deg, rgba(0, 102, 102, 0.9), #003333);}button:active,a.button:active,input[type=button]:active,input[type=submit]:active{-webkit-box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.5);-moz-box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.5);box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.5);}
button.alt,a.button.alt,input[type=button].alt,input[type=submit].alt{border-color:#005251;background:#009f9d;background-image:-webkit-linear-gradient(270deg, #00b8b7, #008584);background-image:-moz-linear-gradient(270deg, #00b8b7, #008584);background-image:-ms-linear-gradient(270deg, #00b8b7, #008584);background-image:-o-linear-gradient(270deg, #00b8b7, #008584);background-image:linear-gradient(270deg, #00b8b7, #008584);}
a.button{display:inline-block;}
.formset{margin:0 0 1em;padding:0 10px;list-style:none;border:1px solid #e9e9e9;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.formset__row{position:relative;padding:1em 0 1em 25%;line-height:normal;border-top:1px solid #e9e9e9;}.formset__row:first-child{border:none;}
.formset__row .sign{float:right;}
.formset__label{position:absolute;left:0;width:20%;margin:1px 0;padding:0.25em 0;text-align:right;}
.optionset{margin:0;padding-left:0;list-style:none;}.optionset>li{padding:0.25em 0;}
.hint{margin:.5em 0 0;font-style:italic;font-size:0.75em;color:#cccccc;}
.hint--error{color:#c81730;}
.sign{position:relative;margin:0;cursor:help;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;}.sign,.sign span{color:#ffffff;background:#333333;}
.sign:before{display:block;width:1.5em;line-height:1.5em;content:'?';text-align:center;}
.sign span{position:absolute;display:none;width:240px;padding:.25em .5em;line-height:1.5;}.sign span:after{content:' ';position:absolute;top:1em;right:-1em;width:0;height:0;margin-top:-0.5em;border:.5em solid transparent;border-left-color:#333333;}
.sign:hover span{display:block;top:-0.25em;right:2.5em;}
.nav{padding-left:0;margin-bottom:0;}.nav>li{display:inline;}.nav>li>a{display:inline-block;}
.media,.media__body{display:block;overflow:hidden;}
.media__img{float:left;margin-right:30px;}
.media__img-ext{float:right;margin-left:30px;}
.nameplate{overflow:hidden;}
.nameplate__mast{float:right;}
.nameplate__title{margin:0;line-height:inherit;}
.nameplate__mast+.nameplate__title{float:left;}
.content-left{float:left;}
.content-right{float:right;}
.content-clear{clear:both;}
.replace{display:block;overflow:hidden;direction:ltr;text-indent:-9999px;background:transparent no-repeat 0 0;}
.hidden{position:absolute;left:-9999px;}
.js-hide{display:none;}.no-js .js-hide{display:block;display:initial;}
.base{margin:0;padding:0;}ul.base,ol.base{list-style:none;}
img.base{display:block;}
.cf{*zoom:1;}.cf:before,.cf:after{display:table;content:"";}
.cf:after{clear:both;}
.row{margin-bottom:1em;}
.container{width:940px;padding:0 10px;margin:0 auto;}
.grid{clear:both;margin-left:-20px;*zoom:1;}.grid:before,.grid:after{display:table;content:"";}
.grid:after{clear:both;}
[class|=span]{float:left;margin-left:20px;}
.span-01{width:60px;}
.span-02{width:140px;}
.span-03{width:220px;}
.span-04{width:300px;}
.span-05{width:380px;}
.span-06{width:460px;}
.span-07{width:540px;}
.span-08{width:620px;}
.span-09{width:700px;}
.span-10{width:780px;}
.span-11{width:860px;}
.span-12{width:940px;}
.tabs{margin-bottom:1em;border-bottom:1px solid #cccccc;}.tabs li{padding-left:.25em;}.tabs li:first-child{padding-left:0;}
.tabs a{margin-bottom:-1px;padding:.25em .5em;border:1px solid #cccccc;text-decoration:none;color:#333333;background:#e9e9e9;}.tabs a:hover,.tabs a.is-selected{color:#006666;background:#ffffff;}
.tabs a.is-selected{border-bottom-color:#ffffff;}
.captioned{position:relative;display:block;}.captioned img{display:block;}
.captioned__caption{position:absolute;right:0;bottom:0;left:0;padding:.5em .65em;color:#ffffff;background:rgba(51, 51, 51, 0.75);}
.pagination{margin:1em 0;text-align:center;}.pagination a{width:1.5em;border:1px solid #cccccc;line-height:1.5;text-align:center;text-decoration:none;color:#333333;background:#e9e9e9;}.pagination a:hover,.pagination a.is-selected{color:#008584;background:#ffffff;}
.pagination a[rel]{width:auto;padding:0 .35em;}
.pagination a[rel=next]:after{content:' >';}
.pagination a[rel=prev]:before{content:'< ';}
