/**
 * Created by: Matt Hinchliffe, www.maketea.co.uk
 * Date:       12/01/2011
 * Modified:   15/06/2011
 *
 * DO NOT JUST COPY AND PASTE THIS BLINDLY. IT MUST BE 'TAILORED' TO FIT YOUR FAT WEBSITE. THIS IS BASED ON SIZE
 * 14px FONTS AND 22px BASELINE.
 *
 * Contents:
 * 1.	Reset
 * 2.	HTML, Body
 * 3.	Base elements
 * 4.	Common classes
 * 5.	Forms
 *
 * Naming conventions:
 * - Hyphens are used for easily readable names. E.G. '#home-page-tabs'
 * - Underscores denote an extended class. E.G. '.large_button' extends '.button'
 *
 * Formatting:
 * - Keep selectors as short as possible. IDs and classes are much faster and more maintainable than traversing
 * - Indentation (using tabs only) denotes that the selector is a child element or an extension of the previous
 *
 * TODO:
 * - Extend inline row form classes for check and radio boxes
 * - Maintain constant baseline (22px?)
 * - Test double colon pseudo-element selector
 */

/**
 * 1. Reset
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dt, dd, ol, ul, li,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
table, caption, tbody, tfoot, thead, tr, th, td,
fieldset, form, label, legend, input, textarea, button {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
}

fieldset, table, img {
	border:none;
}

blockquote, q {
	quotes:none;
}
	blockquote:before, blockquote:after {
		content:none;
		content:'';
	}

abbr, acronym, dfn, var {
	font-style:normal;
	font-variant:normal;
}
	abbr[title], acronym[title], dfn[title] {
		border-bottom:1px dotted;
		cursor:help;
	}

address {
	font-style:normal;
}
	address span {
		display:block;
	}

/* Browser styles can take precedence on form elements, so extra selector specificity is required. */
html input, html select, html textarea, html button {
	margin:0;
	padding:0;
	font-size:1em;
	box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;
}
	input:focus, select:focus, textarea:focus, button:focus {
		z-index:1; /* For Opera */
	}
	form select {
		vertical-align:middle;
		-webkit-appearance:none;
	}
	button, input.button {
		display:inline-block;
		width:auto;
		white-space:nowrap;
		cursor:pointer;
		border:none;
		-moz-appearance:none;
		-webkit-appearance:none;
	}
		button::-moz-focus-inner, input::-moz-focus-inner {
			padding:0;
			border:none;
		}
	textarea {
		display:block;
		height:auto;
		resize:none;
	}

/**
 * 2. HTML, Body
 */
html, body {
	min-height:100%;
}

body {
	font-size:87.5%; /* 14px, set in % for IE resize consistency */
	font-family:Arial, sans-serif;
	color:#000;
	background:#fff;
}

::-moz-selection {
	background:#444;
	color:#eee;
	text-shadow:none;
}
::-webkit-selection {
	background:#444;
	color:#eee;
	text-shadow:none;
}
::selection {
	background:#444;
	color:#eee;
	text-shadow:none;
}

/**
 * 3. Base elements
 */

/* Headers, paragraphs, lists (Copying Nicole Sullivan's OOCSS headings.css a bit here) */
h1, h2, h3, h4, h5, h6, .pseudo-heading {
	line-height:1;
}
	h1, .h1 {
		margin-bottom:0.656em;
		font-size:2.286em; /* 32px */
	}
	h2, .h2 {
		margin-bottom:0.875em;
		font-size:1.714em; /* 24px */
	}
	h3, .h3 {
		margin-bottom:1.167em;
		font-size:1.286em; /* 18px */
	}
	h4, .h4, h5, .h5, h6, .h6 {
		line-height:1.4;
		font-size:1.071em; /* 15px */
	}

p, ul, ol, dl {
	margin-bottom:1.5em;
}

p, li, dt, dd {
	line-height:1.5; /* 21px */
	word-wrap:break-word;
}

ul, ol {
	list-style-position:inside;
	margin-left:20px;
}

/* Quotes */
blockquote, q, cite {
	font-family:Georgia, Times, Times New Roman, serif;
}
	blockquote {
		margin-bottom:1.5em;
	}
		blockquote p {
			margin-bottom:1.4em;
			font-size:1.071em; /* 15px */
			line-height:1.4;
			font-style:italic;
		}
			blockquote p:before, q:before {
				content:'\201C';
			}
			blockquote p::before, q::before { /* Correct CSS3 double colon syntax to dentote a pseudo-element <http://bit.ly/cVk4DA>  */
				content:'\201C';
			}
			blockquote p:after, q:after {
				content:'\201D';
			}
			blockquote p::after, q::after {
				content:'\201D';
			}
	q {
		font-style:italic;
	}

/* Monospace */
pre, code, kbd, var {
	font-family:Consolas, "Lucida Console", Monaco, monospace;
}
	pre {
		overflow:auto;
	}

/* Links */
a {
	color:#1A54E1;
	text-decoration:none;
}
	a:visited {
		color:#36C;
	}
	a:hover {
		text-decoration:underline;
	}
	a:active, a:focus {
		outline:1px dotted #ccc;
		outline-offset:1px;
	}

/* Tables */
table {
	border-collapse:collapse;
	width:100%;
	max-width:100%;
	margin-bottom:1.5em;
	line-height:1.5;
	border-spacing:0;
}
	caption, th, td {
		text-align:left;
		vertical-align:top;
	}
		caption {
			padding-bottom:1em;
		}
		th, td {
			padding:0 12px;
		}
			th {
				font-weight:bold;
			}
				th:empty {
					border:none;
				}

/**
 * 4. Common classes
 */

/* Alternatively coloured links */
a.alt, .alt-links a {
	color:#454545;
	text-decoration:none;
}
	a.alt:visited, .alt-links a:visited {
		color:#666;
	}
	a.alt:hover, .alt-links a:hover {
		color:#000;
		text-decoration:underline;
	}

/* Text alignment */
.align-left {
	text-align:left;
}
.align-centre {
	text-align:center;
}
.align-right {
	text-align:right;
}

/* Font size variations */
p.small-text, p.medium-text, p.large-text, p.super-text {
	line-height:1;
}
	.small-text {
		font-size:0.786em; /* 11px */
	}
		p.small-text {
			margin-bottom:0.909em;
		}
	.medium-text {
		font-size:1.071em; /* 15px */
	}
		p.medium-text {
			margin-bottom:0.4em;
		}
	.large-text {
		font-size:1.286em; /* 18px */
	}
		p.large-text {
			margin-bottom:0.167em;
		}

/* Background image text replacement */
.replace {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:no-repeat 0 0;
}

/* Floats and clearfix (try to use for content only) */
.left {
	float:left;
}
	img.left {
		display:block;
		margin-right:15px;
	}

.right {
	float:right;
}
	img.right {
		display:block;
		margin-left:15px;
	}

.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

/* Un-styled lists */
ul.base, ol.base, ul.inline, ol.inline, dl.inline {
	margin:0;
	list-style-type:none;
}
	ul.inline li, ol.inline li, dl.inline dt, dl.inline dd {
		float:left;
		margin:0;
	}
		dl.inline dt {
			clear:left;
		}
			dl.inline dt:after {
				content:':';
			}
			dl.inline dt::after {
				content:':';
			}
	ul.base li, ol.base li { /* Soft reset for use within .inline lists */
		float:none;
	}

/* Numbered definition lists */
dl.numbered {
	counter-reset:numbered;
}
	dl.numbered dt:before {
		counter-increment:numbered;
		content:counter(numbered) ". ";
	}
	dl.numbered dt::before {
		counter-increment:numbered;
		content:counter(numbered) ". ";
	}

/* Comma seperated list (Inuit CSS) <http://bit.ly/jSmZvz> */
.keywords {
	list-style:none;
	margin:0 0 1.5em;
}
	.keywords li {
		display:inline;
		text-transform:lowercase;
	}
		.keywords li:first-of-type {
			text-transform:capitalize;
		}
		.keywords li:after {
			content:", ";
		}
		.keywords li::after {
			content:", ";
		}
			.keywords li:last-of-type:after {
				content:".";
			}
			.keywords li:last-of-type::after {
				content:".";
			}

/**
 * 5. Forms
 */
fieldset {
	overflow:hidden;
}

/* Form layout */
.row {
	padding-bottom:1em;
}
.buttons {
	text-align:right;
}
.inline label, .inline input, .inline select, .inline button {
	float:left;
}

/* Labels */
label {
	display:block;
	white-space:nowrap;
}
	label dfn {
		font-size:0.857em;
		color:#ccc;
	}
		label dfn[title] {
			border:none;
		}
	.inline label {
		padding-top:5px; /* To match input padding + border width */
		line-height:1.214; /* Match form input leading */
	}

/* Text inputs, text areas and select boxes */
html input, html select, html textarea, html button { /* See comment in reset about specificity */
	height:1.214em; /* For browsers that do not recognise line-height on these elements */
	line-height:1.214; /* Gecko defines line-height as 'normal', roughly 17px (1.214em) at 14px <http://bit.ly/9BFPzL> */
}
	html input, html select, html textarea {
		padding:4px;
		font-family:Arial, Helvetica, sans-serif; /* Always use sans-serif or monospaced fonts for inputs to avoid issues with descending letters */
		color:#555;
		border:1px solid #555;
	}
		html input:focus, html select:focus, html textarea:focus {
			color:#000;
			border-color:#000;
		}
		input.checkbox, input.radio, input.file { /* Go native, otherwise build a new input with visibility:hidden and a little JS */
			width:auto;
			height:auto;
			padding:0;
			border:none;
		}
		html select {
			background-image:url('../img/select-arrow.png'); /* -webkit-appearance strips the toggle arrow */
			background-repeat:no-repeat;
			background-position:right center;
			cursor:pointer;
		}
		html textarea {
			height:6em;
		}

	::-webkit-input-placeholder {
		color:#666;
	}
	input:-moz-placeholder, textarea:-moz-placeholder {
		color:#666;
	}

	/* Buttons */
	html button, .buttons input {
		padding:5px 6px;
	}
