//
// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    11/10/2012
// Description: Useful classes for formatting lists
//

//
// Comma separated list
// Zen-coding: ul.tag-list>li*3
//
.tag-list {
	padding-left:0;
	text-transform:capitalize;

	> li {
		display:inline;

		&:after {
			content:',\0000a0'; // Non-breaking space
		}
		&:last-child:after {
			content:normal;
		}
	}
}


//
// Pipe separated list
// Zen-coding: ul.separated-list>li*3
//
.separated-list {
	padding-left:0;
	white-space:nowrap;

	> li {
		display:inline;

		&:before {
			content:'\0000a0\0000a0|\0000a0\0000a0'; // Non-breaking space
		}
		&:first-child:before {
			content:normal;
		}
	}
}


//
// Inline definition list
// Zen-coding: dl.inline-definitions>(dt+dd)*3
//
.inline-definitions {
	overflow:hidden;
	margin-bottom:@type-blankline;

	dt,
	dd {
		margin:0;
	}
	dt {
		float:left;
		clear:left;
		padding-right:5px;

		&:after {
			content:':'
		}
	}
}


//
// Numbered definition lists
// Zen-coding: dl.numbered-definitions>(dt+dd)*3
//
.numbered-definitions {
	counter-reset:numbered;

	dt:before {
		counter-increment:numbered;
		content:counter(numbered) '. ';
	}
}