//
// Text colour variations
//
.alpha {
	color:@color-alpha;
}
.beta {
	color:@color-beta;
}
.gamma {
	color:@color-gamma;
}
.delta {
	color:@color-delta;
}
.epsilon {
	color:@color-epsilon;
}
.zeta {
	color:@color-zeta;
}
.brand {
	color:@color-brand;
}
.highlight {
	color:@color-highlight;
}
.attention {
	color:@color-attention;
}

//
// Just some really basic styles to lay out the demo
//

body {
	color:@color-epsilon;
	background:@color-subtle;
}

// headers
h1, .h1 {
	//font-family: @type-brand;
	letter-spacing:-1px;
}
h2, .h2 {
	letter-spacing:-.5px;
}
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	letter-spacing:0;
}

a {
	.transition; // Make links awesome
}

#container {
	min-height:100%;
	padding:0 1em;
	background:@color-alpha;
	.box-shadow(0, 3px, 100px, rgba(0, 0, 0, .15));
}
	article {
		padding:0 0 @type-blankline;
	}
	.grid-example [class|=span] {
		height:2em;
		margin-bottom:20px;
		background:rgba(60, 100, 80, .25);
		opacity:.5;
		.border-radius(3px);
	}
	.grid-example [class|=span]:hover {
		opacity:1;
	}
