//
// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    23/10/2013
// Description: Modifier classes for anchor elements
//


//
// Colour variations
//
.link--brand {
	color:@color-brand;

	&:hover {
		color:darken(@color-brand, 10%);
	}
}

.link--accent {
	color:@color-accent;

	&:hover {
		color:darken(@color-accent, 10%);
	}
}

.link--highlight {
	color:@color-highlight;

	&:hover {
		color:darken(@color-highlight, 10%);
	}
}

.link--lowlight {
	color:@color-lowlight;

	&:hover {
		color:darken(@color-lowlight, 10%);
	}
}

.link--reverse {
	color:@color-reverse;

	&:hover {
		color:darken(@color-reverse, 10%);
	}
}


//
// Style variations
//
.link--unstyled {
	&, &:hover {
		text-decoration:none;
	}
}

.link--cta {
	white-space:nowrap; // Prevent orphan arrows

	&:after {
		content:'\2009\2192'; // thin space and right arrow (&thinsp;&rarr;)
	}
}