body {
	background:#eee url(../img/body_bg.png) repeat top;
}

/* headers */
h1, .h1 {
	letter-spacing:-1px;
	text-shadow:0 1px 1px #fff;
}
h2, .h2 {
	letter-spacing:-0.5px;
}
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	letter-spacing:0;
}

/* layout */
#container {
	width:800px;
	margin:40px auto;
	padding:50px 80px;
	background:#fff url(../img/baseline.png) repeat;
	-webkit-border-radius:13px;
	   -moz-border-radius:13px;
	        border-radius:13px;
	-webkit-box-shadow:0 3px 12px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow:0 3px 12px rgba(0, 0, 0, 0.15);
	        box-shadow:0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Examples */
.example {
	position:relative;
}
	dd.example {
		margin-bottom:24px;
		margin-bottom:2.4rem;
	}
	.example aside {
		position:absolute;
		top:0;
		right:0;
		padding:0 5px;
		color:#293134;
		background:#eee;
		-webkit-border-radius:5px;
		   -moz-border-radius:5px;
		        border-radius:5px;
		cursor:help;
	}