//
// Author:      Matt Hinchliffe <www.maketea.co.uk>
// Modified:    23/10/2013
// Description: Images with caption overlays.
// Zen-coding:  .caption>img+span
//

.caption {
	position:relative;
	display:block;

	> img {
		display:block;
	}

	> span {
		position:absolute;
		left:0;
		width:100%;
		padding:.5em .65em;
	}

	a&, a {
		text-decoration:none;
	}

	//
	// Layout variations
	//
	&.caption--top > span {
		top:0;
	}

	&.caption--bottom > span {
		bottom:0;
	}

	&.caption--title > span {
		top: 10%;
		left: 10%;
		max-width: 50%;
	}

	//
	// Colour variations
	//
	&.caption--dark > span {
		color:@color-reverse;
		background-color:rgba(0, 0, 0, .75);
	}

	&.caption--light > span {
		color:@color-text;
		background-color:rgba(255, 255, 255, .5);
	}

	&.caption--overlay > span {
		color:@color-reverse;
		text-shadow: 0 0 10px rgba(0, 0, 0, .5);
	}
}