/**
 * Author:   Matt Hinchliffe <www.maketea.co.uk>
 * Created:  12/01/2011
 * Modified: 13/12/2011
 *
 * Contents:
 * 1.	Utilities
 * 2.	Common layout
 * 
 * Layout sizes:
 *     - Site width             = 960
 *         - Grid column        = 60  (+10 right and left margin)
 *             - Two columns    = 140
 *             - Twelve columns = 940
 *         - Sidebar            = 200 (+10 padding)
 *         - Main content       = 680 (+10 padding)
 */

/**
 * 1. Utilities
 */

/* Floats and clears (for content, not layout) */
.left {
	float:left;
}

.right {
	float:right;
}

.clear { /* clear:right may leave elements 'stranded' if your baseline or grid breaks <> */
	clear:left;
}

/* Text replacement */
.replace {
	display:block;
	overflow:hidden;
	direction:ltr;
	text-indent:-9999px;
	background:transparent no-repeat 0 0;
}

/* Hide but keep accessible to screen readers */
.hidden {
	position:absolute;
	left:-9999px;
}

/* Inline soft reset */
.base {
	margin:0;
	padding:0;
}
	ul.base, ol.base {
		list-style-type:none;
	}
	img.base {
		display:block;
	}

/* Clearfix */
.cf:after { /* Compatibility CSS 2.1 pseudo-element */
	clear:both;
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
	content:".";
}

/**
 * 2. Common layout
 */

/* Inline list */
.inline-list {
	margin-left:0;
	list-style-type:none;
}
	.inline-list > li {
		display:inline;
		margin:0;
	}

/* Block links */
.block-links {
	margin-left:0;
	list-style-type:none;
}
	.block-links li {
		float:left;
	}
		.block-links a {
			display:block;
		}

/* Inline definition list */
.inline-definitions {
	overflow:hidden;
}
	.inline-definitions dt,
	.inline-definitions dd {
		margin:0;
	}
	.inline-definitions dt {
		float:left;
		clear:left;
		padding-right:5px;
	}
		.inline-definitions dt::after {
			content:':'
		}

/* Numbered definition lists */
.numbered-definitions {
	counter-reset:numbered;
}
	.numbered-definitions dt::before {
		counter-increment:numbered;
		content:counter(numbered) '. ';
	}

/* Comma separated list */
.tag-list {
	margin-left:0;
	text-transform:capitalize;
}
	.tag-list li {
		float:left;
		display:block;
	}
		.tag-list li::before {
			content:',\0000a0'; /* Non-breaking space */
		}
			.tag-list li:first-child::before {
				content:normal;
			}

/* Pipe separated list */
.separated-list {
	margin-left:0;
	text-transform:capitalize;
}
	.separated-list li {
		float:left;
		display:block;
	}
		.separated-list li::before {
			content:'\0000a0\0000a0|\0000a0\0000a0'; /* Non-breaking space */
		}
			.separated-list li:first-child::before {
				content:normal;
			}
