/**
 * Author:   Matt Hinchliffe <www.maketea.co.uk>
 * Created:  12/01/2011
 * Modified: 22/11/2011
 *
 * Contents:
 * 1.	Utilities
 * 2.	Common layout
 * 3.	Grid
 * 
 * Layout sizes:
 *     - Site width             = 960
 *         - Grid column        = 60  (+10 right and left margin)
 *             - Two columns    = 140
 *             - Twelve columns = 940
 *         - Sidebar            = 200 (+10 padding)
 *         - Main content       = 680 (+10 padding)
 */

/**
 * 1. Utilities
 */

/* Text replacement */
.replace {
	display:block;
	overflow:hidden;
	direction:ltr;
	text-indent:-9999px;
	background:transparent no-repeat 0 0;
}

/* Hide but keep accessible to screen readers */
.hidden {
	position:absolute;
	left:-9999px;
}

/* Inline reset */
.base {
	margin:0;
	padding:0;
}
	ul.base, ol.base {
		list-style-type:none;
	}
	img.base {
		display:block;
	}

/* Clearfix */
.cf:after { /* Compatibility CSS 2.1 pseudo-element */
	clear:both;
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
	content:".";
}

/**
 * 2. Common layout
 */

/* Inline list */
.inline-list {
	margin-left:0;
	list-style-type:none;
}
	.inline-list > li {
		display:inline;
		margin:0;
	}

/* Block links */
.block-links {
	margin-left:0;
	list-style-type:none;
}
	.block-links li {
		float:left;
	}
		.block-links a {
			display:block;
		}

/* Inline definition list */
.inline-definitions {
	overflow:hidden;
}
	.inline-definitions dt,
	.inline-definitions dd {
		margin:0;
	}
	.inline-definitions dt {
		float:left;
		clear:left;
		padding-right:5px;
	}
		.inline-definitions dt::after {
			content:':'
		}

/* Numbered definition lists */
.numbered-definitions {
	counter-reset:numbered;
}
	.numbered-definitions dt::before {
		counter-increment:numbered;
		content:counter(numbered) '. ';
	}

/* Comma separated list */
.tag-list {
	margin-left:0;
	text-transform:capitalize;
}
	.tag-list li {
		float:left;
		display:block;
	}
		.tag-list li::before {
			content:',\0000a0'; /* Non-breaking space */
		}
			.tag-list li:first-child::before {
				content:normal;
			}

/* Pipe separated list */
.separated-list {
	margin-left:0;
	text-transform:capitalize;
}
	.separated-list li {
		float:left;
		display:block;
	}
		.separated-list li::before {
			content:'\0000a0\0000a0|\0000a0\0000a0'; /* Non-breaking space */
		}
			.separated-list li:first-child::before {
				content:normal;
			}

/**
 * 3. Grid
 * - Based on 1k grid <http://www.1kbgrid.com>
 */

.website-width {
	width:960px;
	margin:0 auto;
}

/* 12 columns, 60 pixels each, with 20 pixel gutter */
.column {
	float:left;
	margin:0 10px;
}

.grid_1  { width:60px; }
.grid_2  { width:140px; }
.grid_3  { width:220px; }
.grid_4  { width:300px; }
.grid_5  { width:380px; }
.grid_6  { width:460px; }
.grid_7  { width:540px; }
.grid_8  { width:620px; }
.grid_9  { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }

.header {
	padding:10px;
}

.main-content {
	float:right;
	width:680px;
	padding:10px;
}

.sidebar {
	float:left;
	width:200px;
	padding:10px;
}

.footer {
	padding:10px 20px;
}
