/**
 * Author:      Matt Hinchliffe <www.maketea.co.uk>
 * Modified:    15/12/2011
 * Description: Useful classes for contructing page layout 
 */

/* Floats and clears (for content, not layout) */
.left {
	float:left;
}

.right {
	float:right;
}

.clear { /* clear:right may leave elements 'stranded' if your baseline or grid breaks <> */
	clear:left;
}

/* Text replacement */
.replace {
	display:block;
	overflow:hidden;
	direction:ltr;
	text-indent:-9999px;
	background:transparent no-repeat 0 0;
}

/* Hide but keep accessible to screen readers */
.hidden {
	position:absolute;
	left:-9999px;
}

/* Inline soft reset */
.base {
	margin:0;
	padding:0;
}
	ul.base, ol.base {
		list-style-type:none;
	}
	img.base {
		display:block;
	}

/* Clearfix */
.cf:after { /* Compatibility CSS 2.1 pseudo-element */
	clear:both;
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
	content:".";
}
